ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: black;
  background-color: #fff;


}
li a.nav-link {
  color: rgb(28, 136, 238);
  background-color: #fff;
  
}
p {
  float: right;
}








